@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --fuente-web: 'Epilogue', sans-serif; /* Pesos de 500 y 700 */
  --color-back: hsl(0, 0%, 98%); /* Almost White*/
  --color-texto: hsl(0, 0%, 41%); /* Medium gray */
  --color-texto-titulares: hsl(0, 0%, 8%); /* Almost black */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: var(--fuente-web);
  background-color: var(--color-back);
}


/** =============== HEADER Start =============== */
header .header-img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header-menu {
  display: block;
}

.header-menu > .header-container {
  position: fixed;
  right: 0%;
  top: 50px;
  gap: 0;
  flex-direction: column;
  background-color: var(--color-back);
  width: 65%;   
  text-align: center;
  transition: .3s;
  list-style: none;
}

.header-menu > .header-container > .header-content {
  margin: 1.6rem 0;

}

.header-menu > .header-container > .header-content.active {
  left: 0;
}

.header-menu > .header-container > .header-content a{
  text-decoration: none;
  color: var(--color-texto);
}

/* .header-menu > .header-container > .header-content li {
  list-style: none;
} */

.hamburger.active {
}

.header-login {
  display: none;
}
/** ===============  HEADER End  =============== */

/** ===============  MAIN Start =============== */
.main-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-hero img{  
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: scale-down;
}

.article-container {
  padding: 2rem;
}

.article-container h1 {
  font-size: 3.8rem;
  color: var(--color-texto-titulares);
}

.article-container p {
  color: var(--color-texto);
  line-height: 3rem;
  margin-bottom: 4rem;
}

.article-container > a {
  background-color: var(--color-texto-titulares);
  padding: 2rem;
  border-radius: 15px;
  color: var(--color-back);
  text-decoration: none;
}

.article-container > a:hover {
  background-color: var(--color-back);
  color: var(--color-texto-titulares);
  border: 1px solid var(--color-texto-titulares);
}

.article-container > .brands {
  margin-top: 6rem;
}

.article-container > .brands img {
  padding: 0 .5rem;
  width: 24%;

}

/** ===============  MAIN End   =============== */

/** =============== FOOTER Start =============== */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 500;
}

/** ===============  FOOTER End  =============== */



/*! ===============  DESIGN DESKTOP  =============== */

@media(min-width: 800px) {
  /** =============== HEADER Start =============== */  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
  }
  
  .header-img .hamburger {
    display: none;
  }
  .header-menu {
    display: flex;
  }

  .header-menu .header-container{
    display: flex;
    justify-content: space-around;    
  }
  .header-menu .header-container .header-content {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--color-texto);
    padding: 0 2rem;
    cursor: pointer;
  }

  .header-menu .header-container .header-content > ul {
    display: none;
  }

  .header-menu .header-container .header-content .dropdown::after {
    content: url('../images/icon-arrow-down.svg');
  }

  .header-menu .header-container .header-content .dropdown {    
    padding-right: 0px;
    margin-right: 0px;
  }

  .header-menu .header-container .header-content .dropdown ul{
    display: flex;
    flex-direction: column;
    height: 400px;
    position: sticky;
  }

  .header-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
  }

  .header-login > a:last-child{    
    border: 1px solid var(--color-texto);
    border-radius: 10px;
    padding: 10px;
  }

/** ===============  HEADER End  =============== */
/** ===============  MAIN Start =============== */
.main-container {
  flex-direction: row;
  text-align: left;
  height: 85vh;
  margin: 1rem 15rem;
}

.img-hero img{  
  padding-left: 5rem;
  min-height: 85vh;
  height: 100%;
}

.article-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 5rem;
  min-height: 70vh;
}

.article-container h1 {
  font-size: 5rem;
  color: var(--color-texto-titulares);
}

.article-container p {
  color: var(--color-texto);
  line-height: 3rem;
  margin-bottom: 4rem;
}

.article-container > a {
  background-color: var(--color-texto-titulares);
  padding: 2rem;
  border-radius: 15px;
  color: var(--color-back);
  text-decoration: none;
}

.article-container > .brands {
  margin-top: 6rem;
}

.article-container > .brands img {
  padding: 0 .5rem;
  width: 24%;
}

/** ===============  MAIN End   =============== */

}