@media(max-width: 821px) {
    main .container{
      margin: unset;
      max-width: 721px;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .container .hero {
      flex-basis: unset;
      margin: 20px;
      padding: 20px;
    }

    .cabecera .hamburger {
      padding: 15px;
    }
}