@media(max-width: 821px) {
    main .container{
      margin: unset;
      max-width: 375px;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;      
    }

    .container .hero {
      flex-basis: unset;
      margin: 0;
      padding: 0;
      max-width: 375px;
      height: 300px;
    }

    .cabecera .hamburger {
      padding: 15px;
    }

    h1{
      font-size: 3.8rem;
      text-align: center;
      font-weight: 700;
    }

    .cabecera{
      padding-bottom: 0;
    }


    .container .content{
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container .content p{
      text-align: center;
    }

    .container .content button{
      width: 200px;
      font-weight: 700;
      height: 60px;
      border-radius: 20px;
      margin-bottom: 60px;
    }

    .container .content .client picture img{
      padding: 0;
    }
}