:root{
  /*? Colores neutros */
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);

/*? Fuentes */
--font-epilogue: 'Epilogue', sans-serif; /* peso de 500 y 700. tamaño: 18px*/
}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-size: 1.8rem;
  font-family: var(--font-epilogue);
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 6.7rem;
}

.cabecera{
display: flex;
justify-content: space-between;
padding-bottom: 40px;
}

.menu{
  display: flex;
  flex-basis: 75%;  
  flex-wrap: wrap;
  align-items: center;
}

.menu .logo{
  padding: 15px;
  align-items: center;
}

.menu .inner-menu ul{
  display: flex;
  list-style: none;
  align-items: center;
  }

.menu .inner-menu ul li{
  padding: 0 15px;
  text-decoration: none;
  color: var(--medium-gray);
  font-weight: 500;
}

.menu .inner-menu ul li:hover{
  color: var(--almost-black);
  font-weight: 700;  
  cursor: pointer;
}

.access ul{
  flex-basis: 25%;
  display: flex;  
  list-style: none;
  color: var(--medium-gray);
}

.access ul li {
  padding: 15px 30px;
  font-weight: 500;
}

.access ul li:hover{
  color: var(--almost-black);
  font-weight: 700;
  cursor: pointer;
}

.access .register{
  border: 1px solid var(--medium-gray);
  border-radius: 15px;
  cursor: pointer;
}

.access .register:hover{
  border: 1px solid var(--almost-black);
}

.container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 100px;
}

.container .content {
  flex-basis: 50%;
  max-width: 720px;
  width: 100%;
  padding: 15px 30px 0 50px;
}

.container .content p{
  line-height: 3rem;
  color: var(--medium-gray);
  font-size: 1.8rem;
}

.container .content button {
  text-decoration: none;
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-radius: 10px;
  padding: 10px;
  margin: 25px 0;
  width: 225px;
  font-size: 1.8rem;
  font-weight: 500;
}

.container .content button:hover{
  background-color: var(--almost-white);
  color: var(--almost-black);
  cursor: pointer;
  font-weight: 700;
} 

.container .content .client picture img{
  padding: 20px 5px 20px 0;
}

.container .hero {
  flex-basis: 50%;
  box-sizing: border-box;
  margin-right: 20px;
  padding-right: 20px;  
  max-width: 695px;
  max-height: 496px;
  width: 695px;
  height: 496px;
}

.container .hero img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}


/** FOOTER */

.attribution {
  font-size: 11px; 
  text-align: center; 
  margin-top: 100px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}