:root {
  /* Primary colors*/
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral colors*/
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  /* Fuentes*/
  --fraunces: "Fraunces", serif;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--montserrat);
  font-size: 62.5%;
  padding: 10px;
  margin: 10px;
}



.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  max-width: 720px;
}

@media (max-width: 375px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
  }
}

.card .img {
  background-image: url(../images/image-product-desktop.jpg);
  /* display: block;
  object-fit: cover; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  padding: 0px 80px;
  border-radius: 10px 0px 0px 10px;
}

@media(max-width: 375px) {
    .card .img {
      min-height:40vh;
      width: 100%;
      background-image: url(../images/image-product-mobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;   
      background-position: center center;            
      border-radius: 10px 10px 0px 0px;
      box-sizing: border-box;
    }
}

.card .producto {
  display: flex;
  flex-direction: column;
  padding: 10px 40px 40px 40px;
  background-color: var(--White);
  border-radius: 0px 10px 10px 0px;  
}

@media(max-width: 375px) {
    .card .producto{
      padding: 0px 5px 10px 5px;
      border-radius: 0px 0px 10px 10px;
    }
}

.card .producto h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: var(--Dark-grayish-blue);
  margin-bottom: 0;  
}

@media(max-width: 375px) {
    .card .producto h4 {
      letter-spacing: 4px;
      padding-bottom: 10px;
    }
}

.card .producto h3 {
  font-family: var(--fraunces);
  font-size: 2.2rem;
  padding: 0px 40px 0px 0px;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 30px;
}

.card .producto p {
  font-size: .88rem;
  color: var(--Dark-grayish-blue);
  padding: 0px 40px 0px 0px;
  line-height: 25px;
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 0;
}

.card .producto .precios {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-items: center;
}

.card .producto .precios h2 {
  color: var(--Dark-cyan);
  font-family: var(--fraunces);
  font-size: 2.3rem;
  padding-right: 10px;
}

.card .producto .precios h4 {
  font-size: 0.8rem;
  text-decoration: line-through;
  padding-left: 30px;
}

@media(max-width: 375px) {
  .card .producto .precios h4{
    letter-spacing: 0px;
    text-align: left;
  }
}

.card .producto .btn {
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  color: var(--White);
  background-color: var(--Dark-cyan);
  border-radius: 10px;
  padding: 20px;
}

.card .producto .btn:hover {
  background-color: hsl(157, 35%, 22%);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Final del Footer */

