@media(max-width: 654px) {
  /*todo ========== MAIN START ========== */
  .main-content{
    display: flex;
    flex-direction: column-reverse;
  } 

  .main-content picture.main-content-img{
    display: flex;
    margin: 0;
    padding: 0; 
    width: 100%;
    min-width: 375px;
  }

  .main-content.section-inner-1 .main-content-text{
    width: 100%;
    max-width: 654px;   
    min-width: 375px; 
    text-align: center;
    padding: 50px 100px;
  }

  .main-content.section-inner-2{
    display: flex;
    flex-direction: column-reverse;  
  }

  .main-content.section-inner-3{
    display: flex;
    flex-direction: column;  
  }

  .testimonials-content{
    display: flex;
    flex-direction: column;
  }

.menu-container .menu-content ul{ 
  display: flex;
  flex-direction: column;
  position: relative;
}

  /*todo ========== MAIN END ========== */
}
