:root
{
  /* Primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --color-graphic-design-text: hsl(167, 40%, 24%); 
  --color-photography-text: hsl(198, 62%, 26%);
  --color-footer: hsl(168, 34%, 41%);

  /* Neutral colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --font-barlow: 'Barlow', sans-serif; /* weight: 600*/
  --font-fraunces: 'Fraunces', serif; /* weight: 700, 900*/
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
}

body{  
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: var(--font-barlow);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li{
  list-style: none;
}


/** NAV START*/
header{
  background-image: url(../images/desktop/image-header.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 

}

.nav {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 32px;
  max-width: 1200px;
  width: 100%;
}

.menu-container{
  display: flex;
  justify-content: space-between; 
}

.padd-15{
  padding: 0px 15px;  
}

nav .menu-container .visible-nav{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 0 22px;
  max-width: 1200px;
  width: 100%;
}

nav .menu-container .hidden-nav{
   
}

nav .menu-container .visible-nav .hamburger{
  display: none; 
}

.menu-container .menu-logo{   
  padding: 15px 0 15px 70px;
}

.menu-container .menu-content ul{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  
  max-width: 100%;  
}

.menu-container .menu-content ul li{
  padding: 10px 30px;
}

.menu-container .menu-content ul li a{
  color: var(--white);
}

.menu-container .menu-content .contact{
  background-color: var(--white);
  color: var(--color-graphic-design-text);
  text-transform: uppercase;
  padding: 10px;
  border-radius: 25px;
  font-weight: 700;
  font-family: var(--font-fraunces);
}
.creatives{
  text-align: center;
  color: var(--white);
  padding-top: 15px;
}

.creatives h2{
  font-family: var(--font-fraunces);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 10px;
  padding-top: 30px;
}
.creatives img{
  padding-top: 100px;  
}
/** NAV END*/

/*todo ========== MAIN START ========== */
.main-container{
  display: flex;
  flex-direction: column;
}

.main-content{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.main-content .main-content-text{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-fraunces);
  font-weight: 600;  
  padding: 0 50px;
  max-width: 600px;
  width: 100%;
  margin: 0;
}
.main-content .main-content-text h2{
  font-size: 5rem;
  font-weight: 900;
  padding-bottom: 30px;
  line-height: 50px;
}

.main-content .main-content-text p{
  font-family: var(--font-barlow);
  color: var(--very-dark-grayish-blue);
  font-size: 1.9rem;
  font-weight: 400;
  padding-bottom: 30px;
}

.main-content .main-content-text h3 a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--very-dark-desaturated-blue);
} 

.section-inner-1 .primary-underline{ 
  text-decoration: none;
  display: inline-block;
  background:
    radial-gradient(farthest-side, #feec80 98%,transparent 100%) bottom right/10px 10px,
    radial-gradient(farthest-side, #feec80 98%,transparent 100%) bottom left /10px 10px,
    linear-gradient(#feec80,#feec80) bottom/calc(100% - 10px) 10px;
  background-repeat:no-repeat;
}

.primary-underline:hover{
  text-decoration: none;
  display: inline-block;  
  background-repeat:no-repeat;  
  background:
    radial-gradient(farthest-side, #F9D400 98%,transparent 100%) bottom right/10px 10px,
    radial-gradient(farthest-side, #F9D400 98%,transparent 100%) bottom left /10px 10px,
    linear-gradient(#F9D400,#F9D400) bottom/calc(100% - 10px) 10px; 
    border-radius: 20px;
    bottom: 5px;
    z-index: -1;
}

.main-content picture.main-content-img{
  display: flex;
  flex: 0 0 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  width: 100%;
}

.main-content picture.main-content-img img{ 
  width: 100%;
}


  /*? ========== Section inner-2 Start ========== */
.main-content.section-inner-2{
  display: flex;
  flex-direction: row-reverse;  
}

.section-inner-2 .primary-underline{ 
  text-decoration: none;
  display: inline-block;
  background:
    radial-gradient(farthest-side, #f9b1a7 98%,transparent 100%) bottom right/10px 10px,
    radial-gradient(farthest-side, #f9b1a7 98%,transparent 100%) bottom left /10px 10px,
    linear-gradient(#f9b1a7,#f9b1a7) bottom/calc(100% - 10px) 10px;
  background-repeat:no-repeat;
}

.section-inner-2 .primary-underline:hover{
  text-decoration: none;
  display: inline-block;  
  background-repeat:no-repeat;  
  background:
  radial-gradient(farthest-side, #FE7866 98%,transparent 100%) bottom right/10px 10px,
  radial-gradient(farthest-side, #FE7866 98%,transparent 100%) bottom left /10px 10px,
  linear-gradient(#FE7866,#FE7866) bottom/calc(100% - 10px) 10px;  
  /* background-color: var(--color-photography-text);
  position: absolute;
  content: '';
  width: 120%;
  left: -10px;
  bottom: 0;
  height: 0px;
  z-index: -1; */  
  border-radius: 20px;
}

  /*? ========== Section inner-2 End ========== */

  /*? ========== Section inner-3 Start ========== */
 .section-inner-3 .main-content-bg-text-1{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    flex: 0 0 50%;    
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: -65px;
  }

  .section-inner-3 .main-content-bg-text-1 h2{
    text-align: center;
    padding-top: 350px;
    font-family: var(--font-fraunces);
    color: var(--color-graphic-design-text);
    font-weight: 900;
  }

  .section-inner-3 .main-content-bg-text-1 p{
    color: var(--color-graphic-design-text);
    text-align: center;
    font-size: 1.4rem;
    padding: 20px 130px 50px 130px;
    height: 200px;
  }

  .section-inner-3 .main-content-bg-text-2{
    flex: 0 0 50%;
    background-image: url(../images/desktop/image-photography.jpg);    
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: -65px;
  }

  .section-inner-3 .main-content-bg-text-2 h2{
    text-align: center;
    padding-top: 350px;
    font-family: var(--font-fraunces);
    color: var(--color-photography-text);
    font-weight: 900;
  }

  .section-inner-3 .main-content-bg-text-2 p{
    color: var(--color-photography-text);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px 130px 50px 130px;
    height: 200px;
  }


  /*? ========== Section inner-3 End ========== */

  /*! ========== Section testimonials Start ========== */
.testimonials-container{
  display: flex;
  flex-direction: column;  
  padding: 20px 0 0 0;
  margin: 0;
}

.testimonials-container h2{
  font-family: var(--font-fraunces);
  color: var(--grayish-blue);
  text-align: center;  
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 80px 0;
}

.testimonials-container .testimonials-content{
  display: flex;
  padding-bottom: 100px;
}

.testimonials-container .testimonials-content .test{
  display: flex;
  flex-direction: column;
  place-items: center;
}

.testimonials-container .testimonials-content .test picture img{
  border-radius: 50%;  
}

.testimonials-container .testimonials-content .test .test-text{
  text-align: center;
  padding: 50px;
  color: var(--very-dark-desaturated-bluegrayish-blue);
  font-size: 1.4rem;
}

.testimonials-container .testimonials-content .test h3{
  font-family: var(--font-fraunces);
}

.testimonials-container .testimonials-content .test p{
  color: var(--grayish-blue);
  font-size: 1.3rem;
  padding: 5px;
}

  /*! ========== Section testimonials End ========== */

  /*? ========== Section Image Gallery Start ========== */
  .img-gallery{
    display: flex;
  }

  .img-gallery .img-item img{    
    max-width: 100%;  
    max-height: 100%; 
  }
  /*? ========== Section Image gallery End ========== */

  
  /*todo ========== MAIN END ========== */

/* footer */

/** ========== Footer Start ========== */

footer{
  margin: 0;
  padding: 0;
  max-width: 1200px;
  width: 100%;
}

.footer-content{
  background-color: #a0ddce;
  width: 100%;
  max-width: 1200px;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.footer-content .footer-title{
  text-align: center;
  font-family: var(--font-fraunces);
  color: var(--color-graphic-design-text);
  font-weight: 600;
  font-size: 3.5rem;
  padding-top: 20px;
}

.footer-content .footer-menu ul{
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
}

.footer-content .footer-menu ul li a{
  text-align: center;
  padding: 20px;
  color: var(--color-footer);
  font-size: 1.4rem;
}

.footer-content .footer-menu ul li a:hover{
  color: var(--white);
}

.social-networks{
  display: flex;
  flex: 0 0 25%;
  justify-content: center;
  padding-bottom: 30px;
}

.social-networks a{
  color: var(--color-footer);
  padding: 10px;
}

.social-networks a:hover{
  color: var(--white);
}

.attribution{
    font-size: 11px;
    text-align: center;
  }
.attribution a {
  color: hsl(228, 45%, 44%);
}


/** ========== Footer End ========== */