:root{
  /*? Primary colors*/
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  /*? Accent colors */

  --bright-blue: hsl(224, 93%, 58%);
  --moderatecyan: hsl(170, 45%, 43%);

  /*? Neutral colors */

  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /*? Fonts */
    /*? Body */
  --open-sans: 'Open Sans', sans-serif;

    /*? Headings, Call-to-actions, Header Navigation*/
  --raleway: 'Raleway', sans-serif;  
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--raleway);
}

hr{
  color: var(--moderatecyan);
}
html, body{
  background-color: white;
  font-family: var(--open-sans);
  font-size: 62.5%;
  padding: 10px 20px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  font-family: var(--raleway);
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-width: 480px;
}

header picture{
  flex-basis: 50%;
  align-items: center;
}

header picture img{  
  display: block;
  object-fit: cover;
  max-width: 100%;
  min-width:80px;
}

header nav{
  flex-basis: 50%;
  max-width: 300px;
}

header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}

header nav ul li{
  list-style: none;
  padding: 0 5px;
}

main{
  font-size: 1.6rem;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0px;
}

/** Válido para todos los artículos de la página */

main section{
  display: flex;
  justify-content: column;
  padding: 0px 0px;
  margin: 0px 0px;
  box-sizing: border-box;
}

main section p{
  font-weight: 700;
  font-size: 1.3rem;
}

main section picture img{
  display: block;
  object-fit: cover;
  max-width: 435px;
  min-width:80px;
}

/** section-1: All files in one secure loaction */

.section-1{
  align-self: flex-start;
  padding-top: 0;
}

.section-1-1{
  /* max-width: 415px; */
}

div .get-started{
  display: flex;
  flex-direction: row;  
}

.get-started input{  
  flex-basis: 60%;
  max-width: 275px;
}

.get-started .btn{
  border: none;
  background: none;
  width: 100%;
  border-radius: 4px;
  color: white;
  background-color: var(--bright-blue);
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 30px;
  flex-basis: 40%;
  max-width: 200px;
}

.get-started  .btn:hover{
  opacity: 60%;
}
/** FIN section-1 */


/** section-2: Stay productive, wherever you are */
.section-2{
  background-image: url(../images/bg-curve-desktop.svg);
  /* background-repeat: no-repeat; */
  /* background-position: cover; */
  /* align-self: flex-start; */
  /* font-weight: 700; */
  /* flex-basis: 50%; */
  /* display: flex; */
  /* flex-direction: column; */
}

.section-2 .section-2-1{
  display: flex;
  justify-content: space-between;
  /* max-width: 415px; */
}

.section-2-1  a{
  text-decoration: none;
  color: var(--moderatecyan);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px ridge var(--moderatecyan);
  min-width: 140px;
  max-width: 22%;
}

.section-2-1 a:hover{
  filter: opacity(0.9) brightness(150%) contrast(0.9 );
}

 .testimonial-box{
  box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.5);  
  background-image: url(../images/icon-quotes.svg); 
  background-repeat: no-repeat;  
  flex-basis: 50%;
  padding: 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 200px;
  min-width: 320px;
}

.testimonial-box .user-info{
  display: flex;
  flex-direction: row;
}

.testimonial-box .user-info picture img{
  border-radius: 50%;  
  display: block;
  object-fit: cover;
  max-width: 5%;
}

.testimonial-box .user-info .usuario h4{
  font-size: 1.3rem;
  font-family: var(--raleway);
  font-weight: bolder;
}

.testimonial-box .user-info .usuario p{
  font-size: 1rem;
  font-family: var(--raleway);
  font-weight: bolder;
  color: var(--light-gray);
}
/** FIN section-2 */


/** section-3 Get early access today */
.section-3{
  background-color: var(--desaturated-blue);
  color: white;
  font-size: 1.6rem;
  padding: 30px;
}

.section-3 h2{
  padding: 0px 60px;
  max-width: 425px;
}

.section-3 p{
  font-size: 1rem;
  color: var(--light-gray);
  font-weight: 400;  
  padding: 0px 60px;
  max-width: 425px;
}

.section-3 .flex{
  flex-basis: 50%;
}

.section-3 form{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

.section-3 form input{
  max-width: 300px;
  margin:30px 0px 0px 0px;
  border-radius: 2px;
  border: none;
  padding: 5px;
}

.section-3 form .btn-s3{
  border: none;
  padding: 7px;
  margin-top: 10px;
  background-color: var(--bright-blue);
  color: white;
  max-width: 150px;
  box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.5); 
}

.section-3 form  .btn-s3:hover{
  filter: opacity(0.9) brightness(150%) contrast(0.9 );
  
}



/** Footer */
footer{
  background-color: var(--very-dark-blue);
  color: var(--light-gray);
}

footer .section-4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 90px 0px 0px;
}

footer .section-4 .section-4-1{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

footer .section-4 .section-4-1 p{
  font-size: 0.8rem; 
}

footer .section-4 .section-4-1 img{
  padding-right: 10px;
}

footer .section-4-1 picture img{
  /* filter: invert(100%); */
  /* filter: grayscale(100%); */
  /* filter: opacity(1) drop-shadow(0 0 0 white); */
  /* filter: hue-rotate(180deg) brightness(180%); */
  filter: contrast(75% ) brightness(0%) invert(100%);
  max-width: 50%;
}

footer .section-4-2, footer .section-4-3 {
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  font-size: 0.8rem;
  line-height: 2.5;
}

footer .section-4-2 a:hover, footer .section-4-3 a:hover{
  color: hsl(228, 45%, 44%);
  filter: opacity(0.8) brightness(180%) contrast(0.5 );
  cursor: pointer;
} 

footer .section-4-4{
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 25%;
  justify-content: flex-start;
}

footer .section-4-4 ul{
  display: flex;
  flex-direction: row;
}

footer .section-4-4 ul li{
  list-style: none;
  padding: 0px 5px;
}

footer .section-4-4 ul li a{
  color: white;
}

footer .section-4-4 ul li a:hover{
  color: var(--bright-blue);
}

.attribution { font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
/** Final del Footer */