body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor{  
  margin: auto;
}
.contenedor .contenido{
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid #000000;
  padding: 20px;
}