body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor{  
  margin: auto;
  padding: 100px;
  
}
.contenedor .contenido{
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;  
}

button{
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background-color: bisque;
  border: 1px solid black;  
  
}