:root{
  /*? COLORES*/
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --font-Inter: 'Inter', sans-serif; /* Weights: 300, 500, 700 */
}

*{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  font-family: var(--font-Inter);
}

/** ==================== CONTAINER Start ==================== */
  /*todo ==================== CARD Start ==================== */
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    padding: 15px;
    margin: 15px;
  }

  .container .card{
    display: flex;
    flex-direction: row;
    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: 280px 10px;
    background-size: 65rem;    
  }

  .container .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 35%;
    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;   
    background-position: -30px 480px;
    background-size: contain;
    padding: 0 0 0 30px;
  }

  .container .card .imagen{
    display: flex;
    flex-direction: column;
    align-content: flex-end ; 
    flex-basis: 65%;  
    box-sizing: border-box;    
  }
  .container .card .imagen picture{
    max-width: 694px;
    max-height: 648px;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
  }

  .container .card .imagen picture img{
    width: 80%;
    border-radius: 5px;
    margin: 80px 80px 80px 0;
    flex-basis: 60%;    
    box-shadow: 0px 0px 30px -5px rgba(25,11,164,0.5);
  }

  .container .card .card-content .parrafo{
    color: var(--Dark-Blue);
    font-size: 1.8rem;
    font-family: var(--font-Inter);
    font-weight: 500;
    letter-spacing: 2px;
    max-width: 450px;
    width: 100%;
    line-height-step: 10px;    
    position: absolute;
    box-sizing: border-box;    
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 70px 0px;
    background-size: 7rem;
    padding-top: 20px;
  }

  .container .card .card-content .firma{   
   display: flex;
   width: 350px;       
   position: relative;
   top: 100px;
   right: 50px;
   box-sizing: border-box;
  }

  .container .card .card-content .firma h2.nombre{
    font-size: 1.4rem;
    text-align: left;  
    margin-top: 20px; 
    max-width: 150px;
    width: 100%;
    flex-basis: 35%;
  }
  

  .container .card .card-content .firma .educacion{
    font-size: 1.4rem;
    color: var(--Grayish-Blue);
    margin: 20px 20px 20px 0;
    max-width: 200px;
    width:100%;
    flex-basis: 65%;
  }

  .toggler{
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 30px -3px rgba(0,0,0,1);
  width: 70px;
  border-radius: 20px;
  padding: 8px;  
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -90px;
  left: 90px;
}

  /*todo ==================== CARD End ==================== */

/** ==================== CONTAINER End ==================== */

/** ==================== FOOTER Start ==================== */
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a{
    color: hsl(228, 45%, 44%);
  }
/** ==================== FOOTER End ==================== */

/*? ==================== RESPONSIVE Start ==================== */


/** ==================== CONTAINER Start ==================== */
  /*todo ==================== CARD Start ==================== */
  @media(max-width: 754px) {
    .container{
      max-width: 754px;
      width: 100%;
    }
    .container .card{
      display: flex;
      flex-direction: column-reverse;
      background-size: 35rem;
      background-position: 15px -5px;
    }

    .container .card .card-content{
      flex-basis: none;
      background-position-x: 0;
      background-size: cover;
      padding: 0;
      background-position: -70px 270px;
      background-size: 35rem;
    }
    .container .card .card-content .parrafo{
      text-align: center;
      font-size: 1.5rem;
      line-height: 25px;
      max-width: 375px;
      width: 100%;
      position: initial;
      padding: 30px 10px 0 10px;
      background-position: initial;
      background-position-x: center;
    }
    .container .card .card-content .firma{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: initial;
    }

    .container .card .card-content .firma h2.nombre{
      font-size: 1.8rem;
      margin: 10px 10px 0 10px;
      flex-basis: unset;
      padding: 0;
      position: initial;
      width: 375px;
      text-align: center;
    }

    .container .card .card-content .firma .educacion{
      font-size: 1.8rem;
      margin: 0;
      flex-basis: unset;
      max-width: 375px;
      width: 100%;
      padding-bottom: 100px;
    }

    .container .card .imagen picture{      
      padding: 0 30px;
    }

    .container .card .imagen picture img{
      flex-basis: unset;
      width: 90%;    
      margin:20px 20px 0 20px;
    }
    .toggler{
      top: -20px;
      left: 143px;
    }
  }
  /*todo ==================== CARD End ==================== */
/** ==================== CONTAINER End ==================== */

/*? ==================== RESPONSIVE End ==================== */