:root{
  /*? COLORES*/
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --font-Inter: 'Inter', sans-serif; /* Weights: 300, 500, 700 */
}

*{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  font-family: var(--font-Inter);
}

/** ==================== CONTAINER Start ==================== */
  /*todo ==================== CARD Start ==================== */
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    padding: 15px;
    margin: 15px;
  }

  .container .card{
    display: flex;
    flex-direction: row;
  }

  .container .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .card .card-content .parrafo{
    padding: 0 0 0 0px;
    font-size: 1.8rem;
    font-family: var(--font-Inter);
    font-weight: 500;
    letter-spacing: 2px;
    max-width: 480px;
    width: 100%;
    position: absolute;
    line-height-step: 10px;
    height: 120px;
  }

  .container .card .card-content .firma{
   
   display: flex;
   justify-content: flex-end; 
    
  }

  .container .card .card-content .firma h2.nombre{
    font-size: 1.6rem;
    text-align: left;  
    margin: 20px; 
  }

  .container .card .card-content .firma .educacion{
    font-size: 1.6rem;
    color: var(--Grayish-Blue);
    margin: 20px;
  }

  .container .card picture img{    
    width: 70%;
    margin: 50px 50px 50px 0; 
    flex-basis: 50%;
    
  }

  /* div {
    position: relative;
    width: 460px;
    height: 230px;
}
img, p {
    position: absolute;
    width: 100%;
}
p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
} */

  /*todo ==================== CARD End ==================== */

/** ==================== CONTAINER End ==================== */

/** ==================== FOOTER Start ==================== */
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a{
    color: hsl(228, 45%, 44%);
  }
/** ==================== FOOTER End ==================== */
