:root{
  /*? Colores neutros */
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);

/*? Fuentes */
--font-epilogue: 'Epilogue', sans-serif; /* peso de 500 y 700. tamaño: 18px*/
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}



/** ==================== FOOTER Start ==================== */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
/** ==================== FOOTER Start ==================== */