:root{
  /*? Colores neutros */
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);

/*? Fuentes */
--font-epilogue: 'Epilogue', sans-serif; /* peso de 500 y 700. tamaño: 18px*/
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--almost-white);
  font-family: var(--font-epilogue);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  max-width: 1440px;
  width: 100%;
}

.nav .brand {
  display: flex;
  align-items: flex-end;
}

.nav-enlace {
  display: block;
  padding: 10px 25px;
  text-align: left;
  text-decoration: none;
  color: var(--medium-gray);
}

.nav-enlace-submenu {     
  text-align: left;  
  margin-top: 15px;  
}

.nav-enlace-submenu:hover {
  color: var(--almost-black);
  font-weight: 700;
}

.nav .lista {
  display: flex;
  max-width: 900px;
  width: 100%;
  height: 5vh;  
}

.nav .lista a:hover{
  color: var(--almost-black);
  font-weight: 700;
}

.lista-item {
  list-style: none;
  width: 20%;
  text-align: center;
  overflow: hidden;
  padding-left: 25px;
}

.lista-item-click {
  cursor: pointer;
}
.lista-img {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 10px;  
}

.lista-img a{
  text-decoration: none;
  color: var(--medium-gray);
}

.arrow .lista-arrow {
  transform: rotate(180deg);
}

.lista-arrow {  
  margin-left: auto;
  transition: transform .3s;
}

.lista-mostrar {
  background-color: white;
  width: auto;
  margin-left: auto;  
  list-style: none;
  transition: height 0s;
  height: 0;
  box-shadow: 5px 20px 25px 2px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin-top: 10px; 
}

.lista-submenu:last-child {
  padding-bottom: 20px;
}

/** ==================== ACCESO Start ==================== */
.acceso {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  width: 100%;
}

.acceso li {
  list-style: none;
}

.acceso li a {
  text-decoration: none;
  color: var(--medium-gray);
}

.acceso li a:hover {
  color: var(--almost-black);
  font-weight: 700;
}

.acceso .registro a{
  border-radius: 15px;
  border: 1px solid var(--medium-gray);
  padding: 10px;
}
/** ==================== ACCESO End ==================== */

/** ==================== Hamburger End ==================== */
.hamburger {
  display: none;
}
/** ==================== Hamburger End ==================== */

/** ==================== FOOTER Start ==================== */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
/** ==================== FOOTER Start ==================== */