:root{
  /*? Colores neutros */
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);

/*? Fuentes */
--font-epilogue: 'Epilogue', sans-serif; /* peso de 500 y 700. tamaño: 18px*/
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px;
  max-width: 1440px;
  width: 100%;
}

.nav-enlace {
  display: block;
  padding: 15px 0;
  text-align: left;
}

.nav-enlace-submenu {
  border-radius: 6px;
  padding-left: 35px;
  text-align: left;  
}

.nav-enlace-submenu:hover {
  color: var(--almost-black);
  font-weight: 700;
}

.nav .lista {
  display: flex;  
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  width: 100%;
  height: 30vh;
  background-color: blanchedalmond;
  padding-top: 20px;
}

.lista-item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.lista-item-click {
  cursor: pointer;
}
.lista-img {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .lista-arrow {
  transform: rotate(180deg);
}

.lista-arrow {  
  margin-left: auto;
  transition: transform .3s;
}

.lista-mostrar {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid var(--almost-black);
  list-style: none;
  transition: height .4s;
  height: 0;
}

/** ==================== ACCESO Start ==================== */
.acceso {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  width: 100%;
}

.acceso li {
  list-style: none;
}

.acceso li a {
  text-decoration: none;
  color: var(--medium-gray);
}

.acceso .registro a{
  border-radius: 7px;
  border: 1px solid var(--medium-gray);
  padding: 10px;
}

/** ==================== ACCESO End ==================== */


/** ==================== FOOTER Start ==================== */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
/** ==================== FOOTER Start ==================== */