:root{

}

*{
  margin: 0;
  padding: 0;

}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-container{
  display:flex;
  flex-direction: row;
}

.item-container .item-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container .item-content img{
  width: 150px;
}