*{
  margin: 0;
  padding: 0;

}

html{
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  font-size: 1.6rem; 
}

.item-container{
  display:flex;
  flex-direction: row;  
}

.item-container .item-content{
  display: flex;
  flex-direction: column; 
  border: 1px solid #CBCACC;
  border-radius: 7px;
  margin: 20px;
  justify-content: center;
  box-sizing: border-box;
  /* align-items: center; */
}

.item-container .item-content img{
  width: 150px;
  flex-basis: 49%;
  height: 100%;
  border-radius: 7px 7px 0 0;
}

.item-container .item-content .title{
padding: 15px 10px 10px 15px;
flex-basis: 17%;
height: 100%;
text-align: left;
}

.item-container .item-content .price{
  padding: 10px 10px 10px 15px;
  flex-basis: 17%;
  height: 100%;
}

.item-container .item-content .comprar{
  border: none;
  background-color: #373941;
  color: white;
  width: 70%;
  border-radius: 5px;  
  flex-basis: 17%;
  height: 100%;
  padding: 10px;
  margin: 20px 20px 20px 20px;
}

.title-2{
  color: #373941 ;
  font-size: 2.4rem;
  padding-top: 50px;
}
.columnas{
  display: flex;
}

.columnas .columna{
  padding: 10px 80px;
}

.total-productos{
  color: #373941;
  padding: 20px 0;
  font-weight: 700;
}