/* Especificaciones de Frontendmentor */
.attribution { 
  font-size: 11px;
  text-align: center;
  padding: 20px;  
 }

.attribution a {
  color: hsl(228, 45%, 44%); 
}

/* Estilos personalizados */
*{
  box-sizing: border-box;
}

:root{
--main-background: hsl(233, 47%, 7%);
--card-background: hsl(244, 38%, 16%);
--accent: hsl(277, 64%, 61%);
--main-heading-stats: hsl(0, 0%, 100%);
--main-paragraph: hsla(0, 0%, 100%, 0.75);
--stat-headings: hsla(0, 0%, 100%, 0.6);
--Inter: 'Inter', sans-serif;
--Lexend-deca: 'Lexend Deca', sans-serif;
}

html, body{
  height: 100%;  
  font-size: 62.5%;    
}

body{
  background-color: var(--main-background);
  display: flex; /* Utilizamos flex para manipular una dimensión (horizontal y/o vertical)*/
  flex-direction: column;
  justify-content: center; /*centra horizontalmente*/
  align-items: center; /* centra verticalmente las cajas */ 
  width:1440px;
}

/* Section-1 */

/* Tarjeta (card) */
.card{
  /* width: 100%;   */
  /* max-width: 1440px;     */
  background-color: var(--card-background);
  display: flex;
  border-radius: 10px 0 0px 10px;
}

/* Texto section-1 */
.section-1{
  padding: 3rem 6rem 3rem 3rem;
  color: white;
  flex-basis: 50%;  
}

/* Título section-1*/
.section-1 .title{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: var(--Inter);
}

.section-1 .title span{
  color: var(--accent);
}

/* Párrafo section-1 */
.section-1 .parrafo{
  color: var(--stat-headings);
  font-size: 1.5rem;
  font-family: var(--Lexend-deca);
}

.section-1 .stats{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 1.5rem;
  font-family: var(--Lexend-deca);   
  margin-bottom: 0%;
}

.section-1 .stats h2{
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
  font-weight: lighter;
  color: var(--stat-headings);
}

.section-1 .stats h2 span{
  font-weight: bold;  
  font-size: 1.8rem;
  color: var(--main-heading-stats);
}

.section-1 .stats .stat1 span{
  text-transform: uppercase;
}

.section-1 .stats .stat1 span{
  text-transform: lowercase;
}

/* Final section-1 */



/* Imagen section-2 */
.section-2{
  flex-basis: 50%;  
  background-image: url(../images/image-header-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;    
}

.section-2::before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(277, 85%, 36%, .6);  
}